@page
@model CabManagement.Pages.HelpModel
@{
}
<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<body style="background-color:greenyellow;">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-10 col-sm-12 col-xs-12">
                <main id="main-doc">
                    <section class="main-section" id="Navigation Page">

                        <h3 style="background: black; color: white ">Navigation Page</h3>
                        <article>
                            <p>In this page you can click on Admin to select 1. Book My Cab 2.Our Fleet 3.Routes 4.Payments </p>
                            <img src="/Photos/Navigate.png" width="700" height="550">

                        </article>
                    </section>
                    <section class="main-section" id="Booking">
                        <h3 style="background:black; color: white">To Create a Booking</h3>
                        <article>
                            <p>The Create Booking tab will allow you to:</p>

                            <li>Add Pickup and Drop location</li>
                            <li>Select Booking Type</li>
                            <li>View Estimated Price</li>
                            <img src="/Photos/CreateBooking.png" width="700" height="550">

                         </artice>
                    </section>
                    <section class="main-section" id="About_Topic">
                        <h3 style="background: black; color: white">Cabs</h3>
                        <article>
                            <p>Here you can see the avaliable cabs:</p>
                            <img src="/Photos/Cabs.png" width="700" height="550">
                            <p>
                                You can see the Driver Name , Contact number , Car Model , Rating , Type etc..
                            </p>
                            <p>
                                You can also Edit or view deatils or Delete
                            </p>
                        </article>
                    </section>
                    <section class="main-section" id="Topic_1">
                        <h3 style="background: black; color: white">Cab Details 1</h3>
                        <p>
                            You can check the deatils of Cab on this page
                        </p>
                        <img src="/Photos/CabDetails.png" width="700" height="550">

                    </section>
                    <section class="main-section" id="Bookings">
                        <h3 style="background: black; color: white">Bookings</h3>
                        <p>
                            You can view the Booking Deatils on Bookings Page
                        </p>
                        <img src="/Photos/Bookings.png" width="700" height="550">

                    </section>

                    <section class="main-section" id="Bills">
                        <h3 style="background: black; color: white">Bills</h3>
                        <p>
                            You can view the Billing Deatils on Payments page
                        </p>
                        <img src="/Photos/bills.png" width="700" height="550">

                    </section>
                </main>
            </div>
        </div>
    </div>
</body>
</html>

