@page
@model IndexModel
@{
    ViewData["Title"] = "VoyagerCabs";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: white;
        }

        p {
            font-size: 16px;
        }

        .margin {
            margin-bottom: 45px;
        }

        .bg-1 {
            background-color: black;
            color: #ffffff;
        }

        .bg-2 {
            background-color: #474e5d;
            color: #ffffff;
        }

        .bg-3 {
            background-color: lightyellow;
            color: #555555;
        }

        .bg-4 {
            background-color: lightgray;
            color: #fff;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }



        .navbar-nav li a:hover {
            color: gold !important;
        }
    </style>
</head>
<body>




    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">VOYAGER CABS</h3>
        <img src="https://ns.yatracdn.com/common/images/fresco/fresco-footer-images/corona/car-guidlines/01.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
        <h3>1455 Market St #400, San Francisco, CA 94103</h3>
    </div>


    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Travel In Style</h3>
        <p> Luxury | Comfort | Speed </p>
       
    </div>


    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-4">
                <p>CITY TAXI</p>
                <img src="https://cms-web.olacabs.com/00000000356.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>OUTSTATION</p>
                <img src="https://cms-web.olacabs.com/00000000357.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>RENTALS</p>
                <img src="https://cms-web.olacabs.com/00000000380.jpg" class="img-responsive margin" style="width:95%" alt="Image">
            </div>
        </div>
    </div>


    <footer style="color:black" class="container-fluid bg-4 text-center">
        <p>CONTACT: +1 513-306-3552 |   bookings@voyagercabs.com  |  donate@voyagercabs.org </p>
    </footer>

</body>

</html>