@page
@model CabManagement.Pages.Bookings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Booking - @Model.Booking.BookingId</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.BookingId" />
            <div class="form-group">
                <label asp-for="Booking.PickUp" class="control-label"></label>
                <input asp-for="Booking.PickUp" class="form-control" />
                <span asp-validation-for="Booking.PickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Drop" class="control-label"></label>
                <input asp-for="Booking.Drop" class="form-control" />
                <span asp-validation-for="Booking.Drop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingType" class="control-label"></label>
                <input asp-for="Booking.BookingType" class="form-control" />
                <span asp-validation-for="Booking.BookingType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Booking.BookingMethod" /> @Html.DisplayNameFor(model => model.Booking.BookingMethod)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CabId" class="control-label"></label>
                <select asp-for="Booking.CabId" class="form-control" asp-items="ViewBag.CabId"></select>
                <span asp-validation-for="Booking.CabId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.PriceEstimate" class="control-label"></label>
                <input asp-for="Booking.PriceEstimate" class="form-control" />
                <span asp-validation-for="Booking.PriceEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
